<section class="splash">
  <h1 class="splash__title">Fast Budget | Expense Manager <hr></h1>
  <div class="splash-image"><%= image_tag 'Wallet-amico.svg', class: 'splash-illustration' %></div>
  <div class="splash-text">
    <h2 class="splash-text__title">Welcome to personal budget planner</h2>
    <p class="splash-text__description"> Manage your personal finances and easily track your money, expenses and budget .</p>
  </div>
</section>
<div class="get-started"><%= button_to 'Get Started', user_session_path, class: 'get-started__button' %></div>